<a href="https://colab.research.google.com/github/Ekjot786/python/blob/main/Assignments_Kanishk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment-1**

In [2]:
#  1. Declare and print

name = "ekjot"
age = 20
course = "AIML"
print(f" NAME: {name}, AGE: {age}, COURSE: {course}")

 NAME: ekjot, AGE: 20, COURSE: AIML

In [ ]:
# 2. Swap two Numbers

a=4
b=9
print(f"A= {a}, b= {b}")
a,b=b,a
print(f"After swap: A={a} , B={b}" )

A= 4, b= 9
After swap: A=9 , B=4

In [ ]:
# 3. Arithmetic operations

x=int(input("Enter First number: "))
y=int(input("Enter second number: "))
sum=x+y
diff=x-y
prod=x*y
quo=x/y
remainder=x%y
print(f"Sum = {sum}")
print(f"Difference = {diff}")
print(f"Product = {prod}")
print(f"Quotient = {quo}")
print(f"Remainder = {remainder}")

Enter First number: 4
Enter second number: 5
Sum = 9
Difference = -1
Product = 20
Quotient = 0.8
Remainder = 4

In [ ]:
# 4. Percenatge Calculator

mat=int(input("Enter marks out of 100 in maths: "))
eng=int(input("Enter marks out of 100 in English: "))
phy=int(input("Enter marks out of 100 in Physics: "))
chem=int(input("Enter marks out of 100 in Chemistry: "))
bio=int(input("Enter marks out of 100 in Biology: "))
perc=(mat+eng+bio+phy+chem)/5
print("\n")
print(f"Pecentage = {perc}")

Enter marks out of 100 in maths: 99
Enter marks out of 100 in English: 78
Enter marks out of 100 in Physics: 89
Enter marks out of 100 in Chemistry: 97
Enter marks out of 100 in Biology: 88


Pecentage = 90.2

In [ ]:
# 5. Compound assingment operator

x=10
print(f"Initial value of x: {x}")
x+=5
print(f"Adding 5: {x}")
x*=2
print(f"Multiply 2: {x}")
x-=4
print(f"Subtract 4: {x}")
x/=2
print(f"Divide 2: {x}")

Initial value of x: 10
Adding 5: 15
Multiply 2: 30
Subtract 4: 26
Divide 2: 13.0

In [ ]:
# 6. Relational operator

p=int(input("Enter first number: "))
q=int(input("Enter second number: "))
if p==q:
 print("They are equal.")
elif p>q:
 print(f"{p} is greater than {q}")
else:
 print(f"{q} is greater than {p}")

Enter first number: 99
Enter second number: 1
99 is greater than 1

In [ ]:
#  7. Logical operator

a=input("Is it raining? (y/n): ")
b=input ("Do you have an umbrella? (y/n):" )

if a==y:
  is_raining=True
else:
  is_raining=False

if b==y:
  have_umbrella=True
else:
  have_umbrella=False

if (not is_raining or (is_raining and have_umbrella)):
 print("Emjoy outside")
else:
 print("Stay inside")

Is it raining? (y/n): y
Do you have an umbrella? (y/n):y
Emjoy outside

In [ ]:
# 9. Bitwise operator

r=20
s=17
print("Bitwise operation on 20 and 17")
bAND=r&s
bOR=r|s
bXOR=r^s
print(f"Bitwise AND = {bAND}")
print(f"Bitwise OR = {bOR}")
print(f"Bitwise XOR= {bXOR}")

Bitwise operation on 20 and 17
Bitwise AND = 16
Bitwise OR = 21
Bitwise XOR= 5

In [ ]:
# 10. Variable types and typecasting

u=int(input("Enter integer: "))
print(type(u))
v=float(input("Enter float: "))
print(type(v))
result=u+v
print(int(result))

Enter integer: 26
<class 'int'>
Enter float: 2.66666
<class 'float'>
28

# **Assignment-2**

In [ ]:
# 1. Write a program to print number from 1 to 10 stop loop when number reach 9
for i in range(1,10):
  if i==10:
    break
  else:
      print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# 2. write a program that keep asking yhe user to enter the number and stop when user enters a negative number
while True:
   x=int(input("enter a number: "))
   if x<0:
       break
   else:
       continue

enter a number: 56
enter a number: 34
enter a number: -1

In [ ]:
# 3. writ a program to find first even number in a list using for loop and break
a=[1,2,3,4,5,6,7,8,9,0]
for i in a:
   if i%2==0:
    print("This is the first even number: ", i)
    break
   else:
       continue

This is the first even number:  2

In [ ]:
# 4. Keep adding numbers until total sum exceeds 25 print last sum and digit
sum=0
for i in range(0,100):
    sum+=i
    if sum>25:
        print(sum)
        print(i)
        break

28
7

In [ ]:
# 5. Keep asking the user to guess the password until they gues admin123 use while and break
while True:
    x=input("enter password: ")
    if x=='admin123':
        print("Correct password")
        break
    else:
        print("Try again")

enter password: yrhrhfhf
Try again
enter password: admin123
Correct password

In [ ]:
# 6. Print the multiples of 7 using while loop stop if value is greater than 100
x=7
while x<=100:
    print(x)
    x+=7

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
# 7. Give a number, print each digit until zero is found

while True:
  x=int(input("Enter a number: "))
  if x==0:
    print("Zero Found")
    break
  else:
    print("Not zero")

Enter a number: 4
Not zero
Enter a number: 5
Not zero
Enter a number: 6
Not zero
Enter a number: 0
Zero Found

# **Assignment-3**

In [ ]:
# 1. Take a sentence and reverse the order of its words. Example "I love Python" → "Python love I".

x= input("Enter a sentence: ")

l1= x.split()


l2 =l1[::-1]

y = ' '.join(l2)

print("Reversed sentence:", y)

Enter a sentence: I love Python
Reversed sentence: Python love I

In [ ]:
# 2. Given a string of consonants (non-vowels, ignoring case). Example "Hello World" → 7(H,l,l,W,r,l,d).

x=input("Enter a string: ")

vowels='aeiouAEIOU'

consonants=[ i for i in x if i.isalpha() and i not in vowels ]

count=len(consonants)

print(f"{count}({','.join(consonants)})")

Enter a string: Hello World
7(H,l,l,W,r,l,d)

In [ ]:
# 3. Check if two strings are anagrams (same characters, same frequency, ignoring case). Example: "Listen", "Silent" → "Anagram", "Hello" "world" → "Not Anagram".

x=input("Enter first string: ")
y=input("Enter second string: ")

s1=x.replace(" ","").upper()
s2=y.replace(" ","").upper()

if sorted(s1) == sorted(s2):
  print("Anagram")
else:
  print("Not Anagram")

Enter first string: Listen
Enter second string: Silent
Anagram

In [ ]:
# 4. Find the first character in a string that appears only once (case-sensitive). Example: "Swiss" → "w" "Programming → "r".

x=input("Enter a string: ")

s1=x.replace(" ","").upper()

for i in s1:
  if s1.count(i)==1:
    print(i)
    break
else:
    print("None")

Enter a string: Programming
P

In [ ]:
from re import S
# 5. Compress a string by replacing repeated characters with the character and count. Example: "aaabbcc" → "a3b2c2", If compressed string isn't shorter return orignal.

x = input("Enter a string: ")

if not x:
    print("")
else:
    compress = ""
    count = 1
    for i in range(1, len(x)):
        if x[i] == x[i - 1]:
            count += 1
        else:
            compress += x[i - 1] + str(count)
            count = 1

    compress += x[-1] + str(count)

    if len(compress) < len(x):
        print("compressed string:", compress)
    else:
        print("no need to compress:", x)

Enter a string: aaaaaabbbbbbbbbbbbbcccccccccccccccc
compressed string: a6b13c16

In [ ]:
# 6. Find the longest substring in a string thai is a palindrome (case-sensitive). Example: "babad" → "bab" (or"aba"), "cbbd" → "bb".

s=input("Enter a string: ")
x=s.replace(" ","").upper()
n=len(x)

longest=""

for i in range(n):
  for j in range(1,n):
    substr=x[i:j+1]
    if substr == substr[::-1]:
      if len(substr) > len(longest):
        longest = substr
print("Longest palindrome: ",longest)

Enter a string: babad
Longest palindrome:  BAB

In [ ]:
# 7. Gven a string containing only '(',').','{','}','[',']', check if the sequence is valid (properly nested and closed). Example: "[{()}]" → "Valid", "(]" → "Invalid".

x=input("Enter a string: ")

s=[]
dic={')':'(', ']':'[','}':'{' }
valid=True

for i in x:
  if i in '([{':
    s.append(i)
  elif i in ')]}':
    if not s or s[-1] != dic[i]:
      valid= False
      break
    s.pop()

if s:
  valid =False

print("Valid" if valid else "Invalid")

Enter a string: [{()}]
Valid

In [ ]:
# 8. Given a start word, end word, and a list of valid words, find the mininmum number of steps to transform the word to the end word by changing one letter at a time, where each intermediate word must be in the list. All words are same length, lowercase. Example: start"hot", end="cog", wordlist=["hot","dot","dog",log","lot","cog"] → 5(hit → hot → dot → dog → cog), Return 0 if impossible.

start=input("Enter start word: ")
end=input("Enter end word: ")
wordlist=input("Enter word list comma separated: ").split(',')

if end not in wordlist:
  print(0)
else:
    queue=[(start,1)]
    visit=set1()

    while queue:
      current, steps = queue.pop(0)

      for word in wordlist:
         if word in visit:
          continue

         diff=0
         for j in range(len(current)):
           if current[j] != word[j]:
             diff+=1

         if diff==1:
             if word==end:
               print(steps + 1)
               exit()
             queue.append((word, steps + 1))
             visit.add(word)
    print(0)

Enter start word: hit
Enter end word: log
Enter word list comma separated: "hot","dot","dog",log","lot","cog"
0

# **Assignment-4**

In [ ]:
# 1. Create a dictionary of 5 students with their names as keys and marks as values. Print all the keys and values.

dic={'s1':'a','s2':'b','s3':'c','s4':'d','s5':'e'}
dic.items()

dict_items([('s1', 'a'), ('s2', 'b'), ('s3', 'c'), ('s4', 'd'), ('s5', 'e')])

In [ ]:
# 2.  Write a program to count the frequency of each character in a given string using a dictionary.

x=input("Enter a string: ")
x=x.lower()
dic={}
for i in x:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1

print("Frequency: ")
for i,j in dic.items():
  print(f"{i} : {j}")

Enter a string: Hello world
Frequency:
h : 1
e : 1
l : 3
o : 2
  : 1
w : 1
r : 1
d : 1

In [ ]:
# 3. Create a dictionary with names as keys and ages as values. Print the name(s) of the oldest person(s).

dic ={'a':20,'b':22,'c':21, 'e':23,'f':22, 'g':24, 'h':24}
oldest=max(dic.values())
print("Oldest people are: ")
for i,j in dic.items():
  if j==oldest:
    print(i)

Oldest people are:
g
h

In [ ]:
# 4. Merge two dictionaries and print the merged dictionary.

dict1 ={'a':20,'b':22,'c':21, 'e':23,'f':22, 'g':24, 'h':24}
dict2 ={'s1':'a','s2':'b','s3':'c','s4':'d','s5':'e'}

print("dict1: ",dict1)
print("dict2: ",dict2)

dict1.update(dict2)
print("After merge: ",dict1)

dict1:  {'a': 20, 'b': 22, 'c': 21, 'e': 23, 'f': 22, 'g': 24, 'h': 24}
dict2:  {'s1': 'a', 's2': 'b', 's3': 'c', 's4': 'd', 's5': 'e'}
After merge:  {'a': 20, 'b': 22, 'c': 21, 'e': 23, 'f': 22, 'g': 24, 'h': 24, 's1': 'a', 's2': 'b', 's3': 'c', 's4': 'd', 's5': 'e'}

In [ ]:
# 5. Create a dictionary where the keys are numbers between 1 and 10, and the values are their squares

dic={}

for i in range(1,11):
  dic[i]=i*i

print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# 6. Write a program that inverts a dictionary (i.e., swaps keys and values). Assume all values are unique.

dic={'s1':'a','s2':'b','s3':'c','s4':'d','s5':'e'}

dict_i={}

for key,value in dic.items():
  dict_i[value]=key

print("Orignal: ",dic)
print("Inverted: ",dict_i)

Orignal:  {'s1': 'a', 's2': 'b', 's3': 'c', 's4': 'd', 's5': 'e'}
Inverted:  {'a': 's1', 'b': 's2', 'c': 's3', 'd': 's4', 'e': 's5'}

In [ ]:
# 7. Given a nested dictionary of students and their subject-wise marks, calculate and print the average marks for each student.

students={"A":{"maths":85,"science":90,"english":80},
          "B":{"maths":89,"science":69,"english":90},
          "C":{"maths":60,"science":100,"english":100},
          "D":{"maths":35,"science":90,"english":70},
          "E":{"maths":99,"science":50,"english":90} }

for name,subject in students.items():
  total= sum(subject.values())
  count= len(subject)
  average= total/count
  print(f"{name}'s average marks: {average:.2f}")

A's average marks: 85.00
B's average marks: 82.67
C's average marks: 86.67
D's average marks: 65.00
E's average marks: 79.67

In [ ]:
# 8.  Write a program to group words by their length from a list using a dictionary.

x=input("Enter words separate by space(no comma): ")

word=x.split()

length={}

for i in word:
  l=len(i)
  if l in length:
    length[l].append(i)
  else:
    length[l]=[i]

print("Words By Lenght: ")

for x,y in length.items():
  print(f"Length {x}: {y}")

Enter words separate by space(no comma): apple banana bread cake pine salad zebra umbrella kangaroo potato tomato lion camel rose orchid ostrich dinosaur
Words By Lenght:
Length 5: ['apple', 'bread', 'salad', 'zebra', 'camel']
Length 6: ['banana', 'potato', 'tomato', 'orchid']
Length 4: ['cake', 'pine', 'lion', 'rose']
Length 8: ['umbrella', 'kangaroo', 'dinosaur']
Length 7: ['ostrich']

In [ ]:
# 10. Create a program that takes a list of tuples (name, score) and builds a dictionary where each name is a key, and the value is a list of all their scores. Then calculate and print each person's average score.

data=[("A",85),
      ("B",92),
      ("B",89),
      ("A",99),
      ("C",100),
      ("C",21)]

dic={}

for name, score in data:
  if name in dic:
    dic[name].append(score)
  else:
    dic[name]=[score]

print("Average score: ")

for name, score in dic.items():
  avg=sum(score)/len(score)
  print(f"{name}: {avg:.2f}")

Average score:
A: 92.00
B: 90.50
C: 60.50

# **Assignment-5 (Tuple & Set)**

**Tuple**

In [ ]:
# 1. Write a Python program to create a tuple with different data types and print its type.

t = (1,2,3,4,5,[5,6,7,8,9],'apple','cherry',{'monday':'day-1', 'tuesday':'day-2'})

print("Tuple = ",tuple)
print(type(tuple))

Tuple =  (1, 2, 3, 4, 5, [5, 6, 7, 8, 9], 'apple', 'cherry', {'monday': 'day-1', 'tuesday': 'day-2'})
<class 'tuple'>

In [ ]:
#  2. Given a tuple t = (10, 20, 30, 40, 50), write a program to access the second last element.

t = (10, 20, 30, 40, 50, 60)

print(t[-2])

50

In [ ]:
# 3. Write a program to count the number of times a given element appears in a tuple.

t = (1,2,3,3,5,6,6,7,8,9,7,6,5,55)

x = int(input("Enter a number: "))

print(f"Count of {x} is {tuple.count(x)}")

Enter a number: 3
Count of 3 is 2

In [ ]:
#  4. Write a program to convert a tuple of strings into a single string. Example: ('Python', 'is', 'fun') --> 'Python is fun'

string = ('python', 'is', 'fun')
print("Orignal: ",str)
print("Joined as single string: ",' '.join(str))

Orignal:  ('python', 'is', 'fun')
Joined as single string:  python is fun

In [ ]:
# 5. Write a Python program to find the index of an element in a tuple.

t = (1,2,3,5,6,6,5,4,3,2,4,56,7,8)

x = int(input("Enter a number: "))

i = t.index(x)

print(f"Index of {x} is {i}")

Enter a number: 6
Index of 6 is 4

**Set**

In [ ]:
#  6. Write a Python program to create two sets and perform union, intersection, and difference operations.

s1 = {1,2,3,4,5,6,7,8,9}
s2 = {1,2,3,4,'a','b','c','d'}

union = s1.union(s2)
intesection = s1.intersection(s2)
difference = s1.difference(s2)

print("s1: ",s1)
print("s2: ",s2)
print("Union: ", union)
print("Intersection: ",intesection)
print("Difference: ",difference)

s1:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2:  {1, 2, 3, 4, 'c', 'd', 'b', 'a'}
Union:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 'c', 'd', 'b', 'a'}
Intersection:  {1, 2, 3, 4}
Difference:  {5, 6, 7, 8, 9}

In [ ]:
#  7. Write a program to check if a given element is present in a set or not.

s1 = {1,2,3,4,5,6,7,8,9,'apple','cherry','root'}

x = int(input("Enter element to check: "))

y = x in s1

print(y)

Enter element to check: 4
True

In [ ]:
#  8. Write a program to remove duplicate elements from a list using a set.

lis = [1,2,2,3,4,5,6,6,7,76,6,5,5,5,5]

x = set(lis)

print(x)

{1, 2, 3, 4, 5, 6, 7, 76}

In [ ]:
# 9. Write a Python program to find the symmetric difference between two sets.

s1 = {1,2,3,4,5,6,7,8,9}
s2 = {1,2,3,4,'a','b','c','d'}

x = s1.symmetric_difference(s2)
print("s1: ",s1)
print("s2: ",s2)
print("Symmetric Difference: ",x)

s1:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2:  {1, 2, 3, 4, 'c', 'd', 'b', 'a'}
Symmetric Difference:  {5, 'c', 'd', 6, 7, 8, 'b', 9, 'a'}

In [ ]:
#  10. Given a list of numbers, write a Python program to find all unique elements using sets.

lis = [1,2,2,3,34,3,3,4,5,4,4,4,5,5,100]

x = set(lis)
y = list(x)
print("Given list: ",lis)
print("Unique items in list: ",sorted(y))

Given list:  [1, 2, 2, 3, 34, 3, 3, 4, 5, 4, 4, 4, 5, 5, 100]
Unique items in list:  [1, 2, 3, 4, 5, 34, 100]

# **Assignment-6**

In [ ]:
#  1. Write a function to find the factorial of a number using recursion.

def fact(n):
  if n<0:
    print("Error factorial cannot be negative")
  elif n==1 or n==0:
    return 1
  else:
    return n * fact(n-1)

x = int(input("Enter a number: "))

print(f"Factorial of {x} is: {fact(x)}")

Enter a number: 8
Factorial of 8 is: 40320

In [ ]:
# 2. Write a function that checks whether a number is prime or not.

def prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

x = int(input("Enter a number: "))

if prime(x):
  print(f"{x} is a prime number")
else:
  print(f"{x} is not a prime number")

Enter a number: 2
2 is a prime number

In [ ]:
#  3. Create a function that takes a string as input and returns the number of vowels in it.

def vowels(s):
  v = "aeiouAEIOU"
  count = 0
  for char in s:
    if char in v:
      count += 1
  return count

x = input("Enter a string: ")

print(f"Number of vowels in {x} is: {vowels(x)}")

Enter a string: Hello World
Number of vowels in Hello World is: 3

In [ ]:
#  4. Write a function that accepts a list of numbers and returns the maximum and minimum values.

In [ ]:
#  5. Write a Python function to calculate the nth Fibonacci number using recursion.

In [ ]:
#  6. Create a function that accepts two numbers and returns their greatest common divisor (GCD).

In [ ]:
#  7. Write a function that takes a list and returns a new list with only unique elements.

In [ ]:
#  8. Write a function to count the frequency of each word in a given string.

In [ ]:
#  9. Write a function that takes a number and returns True if it is a palindrome, otherwise False.

In [ ]:
# 10. Create a function that takes a temperature in Celsius and returns it in Fahrenheit.